/* sideNav Styles */
.sideNav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2%;
}

.sideNav a {
  padding: 5% 3% 2% 6%;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.navImg{
  margin: 0;
  position: absolute;
  left: 20%;
  -ms-transform: translate(-20%, 0%);
  transform: translate(-20%, 0%);
  height: 30%;
  width: auto;
}

.navLogo{
  height: 100%;
  object-fit: contain;
}

.navLinks{
  position: absolute;
  margin-top: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* End sideNav styles */

/* main styles */
.main {
  margin-left: 15%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* End main styles */
